### Importação dos dados

In [2]:
import pandas as pd

url1 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"

loja1 = pd.read_csv(url1)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)

loja1.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38

In [3]:
loja2.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Cadeira de escritório,moveis,378.20,20.421138,04/08/2021,Thiago Silva,MG,1,boleto,1,-18.10,-44.38
1,Pandeiro,instrumentos musicais,102.37,3.035334,26/11/2020,Bianca Santos,RJ,3,cartao_credito,4,-22.25,-42.66
2,Cama king,moveis,591.13,31.759020,22/10/2021,Thiago Silva,SC,5,cartao_credito,10,-27.45,-50.95
3,Cama king,moveis,1208.24,61.919584,04/05/2022,Larissa Alves,RS,5,cartao_credito,10,-30.17,-53.50
4,Cadeira de escritório,moveis,530.41,25.827176,26/02/2022,Lucas Oliveira,SP,4,cartao_credito,3,-22.19,-48.79

In [4]:
loja3.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Secadora de roupas,eletrodomesticos,1713.50,88.823159,17/12/2021,Camila Ribeiro,CE,4,cartao_credito,4,-5.20,-39.53
1,Cômoda,moveis,386.81,18.180908,10/02/2021,Larissa Alves,RS,3,cartao_credito,1,-30.17,-53.50
2,Violão,instrumentos musicais,404.62,23.197592,22/01/2023,Lucas Oliveira,SP,5,cartao_credito,3,-22.19,-48.79
3,Bola de vôlei,esporte e lazer,78.40,4.463341,22/03/2022,Pedro Gomes,BA,4,cartao_credito,6,-13.29,-41.71
4,Guarda roupas,moveis,694.76,34.578319,12/01/2022,Bianca Santos,SP,1,cartao_credito,1,-22.19,-48.79

In [5]:
loja4.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Lava louças,eletrodomesticos,1446.46,74.604083,11/11/2022,Rafael Costa,SP,4,cartao_credito,3,-22.19,-48.79
1,Cama box,moveis,631.70,33.919251,03/01/2020,Thiago Silva,GO,5,cartao_credito,2,-15.98,-49.86
2,Bola de basquete,esporte e lazer,31.54,0.000000,25/12/2022,Larissa Alves,MG,5,boleto,1,-18.10,-44.38
3,Modelagem preditiva,livros,76.93,1.680730,23/11/2021,Lucas Oliveira,MG,3,boleto,1,-18.10,-44.38
4,Fone de ouvido,eletronicos,185.14,7.442587,25/04/2022,Bianca Santos,SP,4,cartao_credito,7,-22.19,-48.79

#1. Análise do faturamento

In [14]:
def valor_total(loja):
    soma_preco = loja.Preço.sum()
    soma_frete = loja.Frete.sum()
    total = soma_preco + soma_frete
    return soma_preco, soma_frete, total

In [15]:
valor_total(loja1)

(np.float64(1534509.12),
 np.float64(81837.9677956916),
 np.float64(1616347.0877956918))

In [16]:
valor_total(loja2)

(np.float64(1488459.06),
 np.float64(79314.1580126449),
 np.float64(1567773.218012645))

In [17]:
valor_total(loja3)

(np.float64(1464025.03),
 np.float64(78022.66122264302),
 np.float64(1542047.691222643))

In [18]:
valor_total(loja4)

(np.float64(1384497.58),
 np.float64(73755.87511898279),
 np.float64(1458253.4551189828))

# 2. Vendas por Categoria

In [101]:
def qtd_produtos_vendidos(loja):
    venda_produto = loja.groupby('Categoria do Produto')[['Produto']].count().sort_values('Produto')
    venda_total = loja.groupby('Categoria do Produto')[['Produto']].count().sum()
    print(f'{venda_produto}')
    print(f'Total de produtos vendidos: {venda_total}')

In [102]:
qtd_produtos_vendidos(loja1)

                       Produto
Categoria do Produto
utilidades domesticas      171
livros                     173
instrumentos musicais      182
esporte e lazer            284
eletrodomesticos           312
brinquedos                 324
eletronicos                448
moveis                     465
Total de produtos vendidos: Produto    2359
dtype: int64

In [103]:
qtd_produtos_vendidos(loja2)

                       Produto
Categoria do Produto
utilidades domesticas      181
livros                     197
instrumentos musicais      224
esporte e lazer            275
eletrodomesticos           305
brinquedos                 313
eletronicos                422
moveis                     442
Total de produtos vendidos: Produto    2359
dtype: int64

In [104]:
qtd_produtos_vendidos(loja3)

                       Produto
Categoria do Produto
utilidades domesticas      177
instrumentos musicais      177
livros                     185
esporte e lazer            277
eletrodomesticos           278
brinquedos                 315
eletronicos                451
moveis                     499
Total de produtos vendidos: Produto    2359
dtype: int64

In [105]:
qtd_produtos_vendidos(loja4)

                       Produto
Categoria do Produto
instrumentos musicais      170
livros                     187
utilidades domesticas      201
eletrodomesticos           254
esporte e lazer            277
brinquedos                 338
eletronicos                451
moveis                     480
Total de produtos vendidos: Produto    2358
dtype: int64

# 3. Média de Avaliação das Lojas

In [34]:
def media_avaliacao_clientes(loja):
    return loja['Avaliação da compra'].mean()

In [35]:
media_avaliacao_clientes(loja1)

np.float64(3.976685036032217)

In [36]:
media_avaliacao_clientes(loja2)

np.float64(4.037303942348453)

In [37]:
media_avaliacao_clientes(loja3)

np.float64(4.048325561678677)

In [38]:
media_avaliacao_clientes(loja4)

np.float64(3.9957591178965224)

# 4. Produtos Mais e Menos Vendidos

In [112]:
def produtos_mais_menos_vendidos(loja):
    maior_venda = max(loja.groupby('Produto')[['Produto']].value_counts())
    menor_venda = min(loja.groupby('Produto')[['Produto']].value_counts())
    print(f'Maior venda {maior_venda}')
    print(f'Menor venda {menor_venda}')

In [113]:
produtos_mais_menos_vendidos(loja1)

Maior venda 60
Menor venda 33

In [114]:
produtos_mais_menos_vendidos(loja2)

Maior venda 65
Menor venda 32

In [115]:
produtos_mais_menos_vendidos(loja3)

Maior venda 57
Menor venda 35

In [116]:
produtos_mais_menos_vendidos(loja4)

Maior venda 62
Menor venda 33

# 5. Frete Médio por Loja